{block content}
<div class="gameContainer">
    <h1>Piškvorky</h1>
    <div id="cellContainer" class="grid"></div>
    <h2 id="statusText"></h2>
    <button id="restartBtn">Restart</button>
</div>
{/block}
