{block content}
{include ../header.latte}

{*-----------------------------------------------------------------------*}
{*Toto tady nebude ale jen at vis kde to je takze si uloz na to odkaz*}
<a n:href="edit:create">Přidat stránku</a>
{*-----------------------------------------------------------------------*}
<h1 class="has-text-primary	">Hello TdA</h1>
{/block}