{block content}
<h1>Hello TdA</h1>
<h2>Welcome to our homepage<h2>
<p>
Toto je naše stránka pro soutěž Tour de app <br>
Vypracovali: <br>
Sebastián Ondryáš( Backend )<br>
Jan Píža( Frontend )<br>
Matyáš Jurenka( :) )
</p>
{/block}
