parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

database:
	dsn: 'mysql:host=89.203.248.247;dbname=ondryass'
	user: sebik
	password: '12345678'

session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
