{block content}
    <h1>Fr funkcni admin</h1>
    <div>
        <a n:href="Homepage:default">Domů</a>
    </div>
    <br>
    <div>
        <a n:href="edit:create">Přidat stránku</a>
    </div>
    <div>
        <a n:href="content:create">Pridat obsah</a>
    </div>
{/block}