{block content}
    <h1>Fr funkcni admin</h1>
    <br>
<div>
    <ul>
        <div>
            <li>
                <a n:href="edit:create">Přidat stránku</a>
            </li>
        </div>
        <div>
            <li>
                <a n:href="content:create">Pridat obsah</a>
            </li>
        </div>
    </ul>
</div>
{/block}