{block content}
{include ../header.latte}
    <h1 class="has-text-black is-size-1 has-text-centered has-background-link	">Hello TdA</h1>
    <p class="has-text-link is-size-3 has-text-centered"> Tohle je naše stránka</p>
{/block}