<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} {/ifset}</title>
	{*Header*}
	<link rel="stylesheet" href="{$basePath}/Frontend/css/header.css">
	{*Main*}
	<link rel="stylesheet" href="{$basePath}/Frontend/css/main.css">
	
	<link rel="stylesheet" href="{$basePath}/Frontend/css/contact.css">

	{*Footer*}
	<link rel="stylesheet" href="{$basePath}/Frontend/css/footer.css">
</head>

<body>
{include header.latte}

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="{$basePath}/Frontend/js/slider.js"></script>
	{/block}
{include footer.latte}	
</body>
</html>
